vesktop/
obs-studio/
dconf/
font-manager/
OpenRGB/logs
chromium/
spotify/
unity3d/
systemd/
libreoffice/
BeeperTexts/
blender/
pupgui/
xsettingsd/
xdg-desktop-portal/
vlc/
pulse/
nwg-look/
OpenRGB/
QtProject.conf
kdeglobals
kdenlive-layoutsrc
kdenliverc
ibus/
jj/
qt*
glib-2.0/
gtk-3.0
gtk-4.0
Epic/
autostart/
Insomnia/
goxel/
Fightcade/
cosmic/
